
.hotel-card {
  margin-top: 1rem;
  margin-bottom: 1rem;
  max-width: 360px;
  padding: 0.6rem;
  background-color: var(--light-gray);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.hotel-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.hotel-info-container {
  padding-top: 1rem;
  float: left;
}

::ng-deep .mat-mdc-card-content {
  padding-left: 0.1rem !important;
}

mat-card-content {
  text-align: center;
}

.rating {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
}

.star, .half-star {
  color: gold;
}

.hotel-title {
  font-size: 1.5em;
  margin-bottom: 0;
}

.location {
  font-size: 1.4em;
  color: grey;
  margin-bottom: 1.1rem;
}

.price {
  font-size: 1.5em;
  margin: 8px 0;
}

.per-night {
  font-size: 0.8em;
  color: grey;
}

.taxes {
  font-size: 1.1em;
  color: grey;
}

mat-icon.icon {
  margin-right: 1rem;
  color: var(--green);
  transform: scale(1.5);
}

a {
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
}
