<form color="primary" [formGroup]="searchForm" class="whole-container">
  <div class="row-direction-div">
    <mat-form-field appearance="fill" class="margin-left-from-container margin-right">
      <mat-label>Where are you going?</mat-label>
      <input
        matInput
        placeholder="eg. Monaco"
        formControlName="address"
      />
      <mat-icon matPrefix style="color: var(--text-gray);">location_on</mat-icon>
    </mat-form-field>
    <mat-divider [vertical]="true" style="height:57px"></mat-divider>
    <mat-form-field appearance="fill" class="margin-left-from-divider margin-right">
      <mat-label>Dates</mat-label>
      <input
        matInput
        placeholder="Check in Date - Check out Date"
        formControlName="dates"
      />
      <mat-icon matPrefix style="color: var(--text-gray);">event</mat-icon>
    </mat-form-field>
    <mat-divider [vertical]="true" style="height:57px"></mat-divider>
    <mat-form-field appearance="fill" class="margin-left-from-divider margin-right">
      <mat-label>Number of guests</mat-label>
      <input
        matInput
        placeholder="2 adults - 0 children"
        formControlName="numberOfGuests"
        type="number"
      />
      <mat-icon matPrefix style="color: var(--text-gray);">group</mat-icon>
    </mat-form-field>
    <mat-divider [vertical]="true" style="height:57px"></mat-divider>
    <mat-form-field appearance="fill" class="margin-left-from-divider margin-right">
      <mat-label>Price</mat-label>
      <input
        matInput
        placeholder="eg. 100"
        formControlName="numberOfGuests"
        type="number"
      />
      <mat-icon matPrefix style="color: var(--text-gray);">attach_money</mat-icon>
    </mat-form-field>

    <button mat-fab style="background-color:var(--green); color: var(--text-gray);">
      <mat-icon style="transform: scale(1.5);">search</mat-icon>
    </button>
  </div>
</form>
