<div id="modal" class="modal">
  <div class="modal-content">
    <span class="close-btn"></span>
    <div class="icon">
      <img src="assets/images/delete.png" alt="Trash Icon">
    </div>
    <p class="modal-header">You are about to delete a {{ typeForDeleting }}</p>
    <p class="modal-body" *ngIf="typeForDeleting === 'user'">This will delete your profile from Booking.zms</p>
    <p class="modal-body" *ngIf="typeForDeleting !== 'user'">This will delete your {{typeForDeleting}} from Booking.zms</p>
    <p class="modal-body">Are you sure?</p>
    <div class="modal-footer">
      <button class="cancel-btn margin-right" (click)="cancel()">Cancel</button>
      <button class="delete-btn" (click)="confirm()">Delete</button>
    </div>
  </div>
</div>
