<div >
  <div class="row-direction-div upper-div whole-container">
    <div class="text-container">
      <h2>Sign up</h2>
      <p class="subtitle">It's quick and easy.</p>
      <div class="form-container">
        <form color="primary" [formGroup]="registrationForm" class="whole-container">
          <div class="center-elements">
            <div class="row-direction-div" style="width: 27.5rem;">

              <mat-form-field
                class="full-width margin-right"
                appearance="fill"
              >
                <mat-label>First name</mat-label>
                <input
                  matInput
                  placeholder="Max"
                  formControlName="firstName"
                  name="firstName"
                  required />
                <mat-error *ngIf="registrationForm.hasError('required', 'firstName')">
                  First name is <strong>required</strong>.
                </mat-error>
              </mat-form-field>

              <mat-form-field
                class="full-width margin-left"
                appearance="fill"
              >
                <mat-label>Last name</mat-label>
                <input
                  matInput
                  placeholder="Vestappen"
                  formControlName="lastName"
                  name="lastName"
                  required />
                <mat-error *ngIf="registrationForm.hasError('required', 'lastName')">
                  Last name is <strong>required</strong>.
                </mat-error>
              </mat-form-field>



            </div>

            <mat-form-field
              class="full-width"
              appearance="fill"
              style="width: 27.5rem;">
              <mat-label>Email</mat-label>
              <input
                matInput
                placeholder="max@domain.com"
                formControlName="email"
                name="email"
                required />
              <mat-error *ngIf="registrationForm.invalid">
                {{ getErrorEmailMessage() }}
              </mat-error>
            </mat-form-field>

            <mat-form-field
              class="full-width"
              appearance="fill"
              style="width: 27.5rem;"
            >
              <mat-label>Place</mat-label>
              <input
                matInput
                placeholder="Netherlands"
                formControlName="address"
                name="address"
                required />
              <mat-error *ngIf="registrationForm.hasError('required', 'address')">
                Place is <strong>required</strong>.
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" style="width: 27.5rem;">
              <mat-label>Password</mat-label>
              <input
                matInput
                [type]="hidePassword ? 'password' : 'text'"
                formControlName="password"
                [errorStateMatcher]="matcher"
                placeholder="Type password" />
              <button
                mat-icon-button
                matSuffix
                (click)="hidePassword = !hidePassword"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hidePassword">
                <mat-icon class="mat-icon-deep-blue">{{
                    hidePassword ? 'visibility_off' : 'visibility'
                  }}</mat-icon>
              </button>
              <mat-error name="invalidPassword" *ngIf="registrationForm.get('password').hasError('pattern')">
                Password should contains at least 12 chars, digit and special char.
              </mat-error>
              <mat-error
                name="emptyPassword"
                *ngIf="
            registrationForm.get('password').hasError('required')
          ">
                Password is <strong>required</strong>.
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" style="width: 27.5rem; margin-bottom: 1rem">
              <mat-label>Confirm password</mat-label>
              <input
                matInput
                [type]="hideConfirmPassword ? 'password' : 'text'"
                formControlName="confirmPassword"
                [errorStateMatcher]="matcher"
                placeholder="Type confirm password" />
              <button
                mat-icon-button
                matSuffix
                (click)="hideConfirmPassword = !hideConfirmPassword"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hideConfirmPassword">
                <mat-icon class="mat-icon-deep-blue">{{
                    hideConfirmPassword ? 'visibility_off' : 'visibility'
                  }}</mat-icon>
              </button>

              <mat-error *ngIf="registrationForm.get('confirmPassword').hasError('pattern') && !registrationForm.get('confirmPassword').hasError('required')">
                Confirm password should contains at least 12 chars, digit and special char.
              </mat-error>

              <mat-error
                *ngIf="registrationForm.get('confirmPassword').hasError('required')">
                Confirm password is <strong>required</strong>.
              </mat-error>
            </mat-form-field>

            <mat-error *ngIf="getErrorPasswordMismatchMessage()" style="align-self: flex-start; display: inline; margin-left: 1.5rem">
              Passwords are not match.
            </mat-error>

            <section>
              <mat-radio-group formControlName="group">
                <div class="row-direction-div">
                  <div class="container margin-between-div" [ngClass]="getClass('guest')">
                    <img class="icon" src="assets/images/guest.png" alt="Guest" style="margin-left: 1rem; margin-right: 2.5rem">
                    <mat-radio-button value="guest"></mat-radio-button>
                  </div>

                  <div class="container" [ngClass]="getClass('host')">
                    <img class="icon" src="assets/images/host.png" alt="Host" style="margin-left: 1rem; margin-right: 2.5rem">
                    <mat-radio-button value="host"></mat-radio-button>
                  </div>
                </div>

              </mat-radio-group>
            </section>


            <div class="center margin-top">
              <button [disabled]="registrationForm.invalid || this.registrationForm.hasError('mismatch')" class="signup-button" mat-raised-button (click)="signup()" style="width: 27.5rem">
                Sign up
              </button>
            </div>
            <mat-divider style="margin-top:1.5rem; width:31rem"></mat-divider>

            <span class="center margin-top" style="color: var(--deep-blue)">Already have an account?
              <a matTooltip="Sign up" [routerLink]="['/booking/auth/login']" style="margin-left: 5px; color: var(--link-blue);" class="link">Log in</a>
            </span>

            <br>
            <br>
            <p class="center margin-top" style="align-items: center; justify-content: center; display: inline; color: var(--deep-blue); margin: 0;">
              By logging in or creating an account, you agree with our
              <span style="color: var(--link-blue); display: inline;">Terms & </span>
            </p>
            <p class="center margin-top" style="align-items: center; justify-content: center; display: inline; color: var(--deep-blue); margin: 0;">
              <span style="color: var(--link-blue); display: inline;">Conditions</span> and
              <span style="color: var(--link-blue); display: inline;">Privacy Statement</span>
            </p>
          </div>

        </form>
      </div>
    </div>

  </div>
</div>
