<div class="whole-successful-verification-container">
  <div class="form-container mat-elevation-z1">
    <div class="center">
      <img class="center" src="./assets/images/verification-icon.png">
    </div>
    <div class="center">
      <h1>Account Verified</h1>
    </div>
    <div class="content">
      <p><span class="hello-text">Hello,</span></p>
      <p><b>Your account is successfully verified.</b></p>
      <p>Please use the link below to login into your account.</p>
    </div>

    <button mat-raised-button class="green-button" style="background-color: var(--green); color: var(--light-gray); font-size: 20px; font-weight: bold" (click)="redirectToLogin()">Login To Your Account</button>
    <p>Thank you for using Booking.</p>
  </div>
</div>
