<div>
  <div class="row-direction-div upper-div whole-container">
    <div class="text-container">
      <h2>Reset password</h2>
      <div class="form-container">
        <p class="subtitle" style="margin-bottom: 0;">Your password must be at least 12 characters long,</p>
        <p class="subtitle">
          and contain at least one digit and non-digit character.</p>
        <form color="primary" [formGroup]="updatePasswordForm" class="whole-container">
          <div class="center-elements">
            <mat-form-field
              class="full-width"
              appearance="fill"
            >
              <mat-label>Email</mat-label>
              <input
                matInput
                [defaultValue]="loggedUser.email"
                readonly
              />
            </mat-form-field>

            <mat-form-field appearance="fill" class="full-width margin-top">
              <mat-label>Password</mat-label>
              <input
                matInput
                [type]="hidePassword ? 'password' : 'text'"
                formControlName="password"
                [errorStateMatcher]="matcher"
                placeholder="Type password" />
              <button
                mat-icon-button
                matSuffix
                (click)="hidePassword = !hidePassword"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hidePassword">
                <mat-icon class="mat-icon-deep-blue">{{
                    hidePassword ? 'visibility_off' : 'visibility'
                  }}</mat-icon>
              </button>
              <mat-error name="invalidPassword" *ngIf="updatePasswordForm.get('password').hasError('pattern')">
                Password should contains at least 12 chars, digit and special char.
              </mat-error>
              <mat-error
                name="emptyPassword"
                *ngIf="
            updatePasswordForm.get('password').hasError('required')
          ">
                Password is <strong>required</strong>.
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" class="full-width margin-top">
              <mat-label>Confirm password</mat-label>
              <input
                matInput
                [type]="hideConfirmPassword ? 'password' : 'text'"
                formControlName="confirmPassword"
                [errorStateMatcher]="matcher"
                placeholder="Type confirm password" />
              <button
                mat-icon-button
                matSuffix
                (click)="hideConfirmPassword = !hideConfirmPassword"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hideConfirmPassword">
                <mat-icon class="mat-icon-deep-blue">{{
                    hideConfirmPassword ? 'visibility_off' : 'visibility'
                  }}</mat-icon>
              </button>

              <mat-error *ngIf="updatePasswordForm.get('confirmPassword').hasError('pattern') && !updatePasswordForm.get('confirmPassword').hasError('required')">
                Confirm password should contains at least 12 chars, digit and special char.
              </mat-error>

              <mat-error
                *ngIf="updatePasswordForm.get('confirmPassword').hasError('required')">
                Confirm password is <strong>required</strong>.
              </mat-error>
            </mat-form-field>

            <mat-error *ngIf="getErrorPasswordMismatchMessage()" style="align-self: flex-start; display: inline;">
              Passwords are not match.
            </mat-error>

            <div class="center margin-top full-width">
              <button [disabled]="updatePasswordForm.invalid || this.updatePasswordForm.hasError('mismatch')" class="signup-button" mat-raised-button (click)="updatePassword()" style="width: 27.5rem">
                Confirm
              </button>
            </div>
          </div>

        </form>
      </div>
    </div>

  </div>
</div>
