.not-found{
    margin-top:10rem;
    text-align: center;
    justify-content: center;
    color: var(--white);
}

.code{
    font-size: 9rem;
}

.subtitle{
    font-size: 4rem;
    margin-top: 4.2rem;

}

.text{
    margin-top: 2rem;
    font-size: 1.3rem;
}

.go-home{
    font-size: 3rem;
    margin-top: 3rem;

}

.booking{
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
}
